[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.CA1001.severity = Warning
dotnet_diagnostic.CA1009.severity = Warning
dotnet_diagnostic.CA1016.severity = Warning
dotnet_diagnostic.CA1033.severity = Warning
dotnet_diagnostic.CA1049.severity = Warning
dotnet_diagnostic.CA1060.severity = Warning
dotnet_diagnostic.CA1061.severity = Warning
dotnet_diagnostic.CA1063.severity = Warning
dotnet_diagnostic.CA1065.severity = Warning
dotnet_diagnostic.CA1301.severity = Warning
dotnet_diagnostic.CA1400.severity = Warning
dotnet_diagnostic.CA1401.severity = Warning
dotnet_diagnostic.CA1403.severity = Warning
dotnet_diagnostic.CA1404.severity = Warning
dotnet_diagnostic.CA1405.severity = Warning
dotnet_diagnostic.CA1410.severity = Warning
dotnet_diagnostic.CA1415.severity = Warning
dotnet_diagnostic.CA1821.severity = Warning
dotnet_diagnostic.CA1900.severity = Warning
dotnet_diagnostic.CA1901.severity = Warning
dotnet_diagnostic.CA2002.severity = Warning
dotnet_diagnostic.CA2100.severity = Warning
dotnet_diagnostic.CA2101.severity = Warning
dotnet_diagnostic.CA2108.severity = Warning
dotnet_diagnostic.CA2111.severity = Warning
dotnet_diagnostic.CA2112.severity = Warning
dotnet_diagnostic.CA2114.severity = Warning
dotnet_diagnostic.CA2116.severity = Warning
dotnet_diagnostic.CA2117.severity = Warning
dotnet_diagnostic.CA2122.severity = Warning
dotnet_diagnostic.CA2123.severity = Warning
dotnet_diagnostic.CA2124.severity = Warning
dotnet_diagnostic.CA2126.severity = Warning
dotnet_diagnostic.CA2131.severity = Warning
dotnet_diagnostic.CA2132.severity = Warning
dotnet_diagnostic.CA2133.severity = Warning
dotnet_diagnostic.CA2134.severity = Warning
dotnet_diagnostic.CA2137.severity = Warning
dotnet_diagnostic.CA2138.severity = Warning
dotnet_diagnostic.CA2140.severity = Warning
dotnet_diagnostic.CA2141.severity = Warning
dotnet_diagnostic.CA2146.severity = Warning
dotnet_diagnostic.CA2147.severity = Warning
dotnet_diagnostic.CA2149.severity = Warning
dotnet_diagnostic.CA2200.severity = Warning
dotnet_diagnostic.CA2202.severity = Warning
dotnet_diagnostic.CA2207.severity = Warning
dotnet_diagnostic.CA2212.severity = Warning
dotnet_diagnostic.CA2213.severity = Warning
dotnet_diagnostic.CA2214.severity = Warning
dotnet_diagnostic.CA2216.severity = Warning
dotnet_diagnostic.CA2220.severity = Warning
dotnet_diagnostic.CA2229.severity = Warning
dotnet_diagnostic.CA2231.severity = Warning
dotnet_diagnostic.CA2232.severity = Warning
dotnet_diagnostic.CA2235.severity = Warning
dotnet_diagnostic.CA2236.severity = Warning
dotnet_diagnostic.CA2237.severity = Warning
dotnet_diagnostic.CA2238.severity = Warning
dotnet_diagnostic.CA2240.severity = Warning
dotnet_diagnostic.CA2241.severity = Warning
dotnet_diagnostic.CA2242.severity = Warning
dotnet_diagnostic.SA1000.severity = Error
dotnet_diagnostic.SA1001.severity = Error
dotnet_diagnostic.SA1002.severity = Error
dotnet_diagnostic.SA1003.severity = Error
dotnet_diagnostic.SA1004.severity = Error
dotnet_diagnostic.SA1005.severity = Error
dotnet_diagnostic.SA1006.severity = Error
dotnet_diagnostic.SA1007.severity = Error
dotnet_diagnostic.SA1008.severity = None
dotnet_diagnostic.SA1009.severity = None
dotnet_diagnostic.SA1010.severity = Error
dotnet_diagnostic.SA1011.severity = Error
dotnet_diagnostic.SA1012.severity = Error
dotnet_diagnostic.SA1013.severity = Error
dotnet_diagnostic.SA1014.severity = Error
dotnet_diagnostic.SA1015.severity = Error
dotnet_diagnostic.SA1016.severity = Error
dotnet_diagnostic.SA1017.severity = Error
dotnet_diagnostic.SA1018.severity = Error
dotnet_diagnostic.SA1019.severity = Error
dotnet_diagnostic.SA1020.severity = Error
dotnet_diagnostic.SA1021.severity = Error
dotnet_diagnostic.SA1022.severity = Error
dotnet_diagnostic.SA1023.severity = Error
dotnet_diagnostic.SA1024.severity = Error
dotnet_diagnostic.SA1025.severity = Error
dotnet_diagnostic.SA1026.severity = Error
dotnet_diagnostic.SA1027.severity = Error
dotnet_diagnostic.SA1028.severity = Error
dotnet_diagnostic.SA1100.severity = Error
dotnet_diagnostic.SA1102.severity = Error
dotnet_diagnostic.SA1103.severity = Error
dotnet_diagnostic.SA1104.severity = Error
dotnet_diagnostic.SA1105.severity = Error
dotnet_diagnostic.SA1106.severity = Error
dotnet_diagnostic.SA1107.severity = Error
dotnet_diagnostic.SA1108.severity = Error
dotnet_diagnostic.SA1110.severity = Error
dotnet_diagnostic.SA1111.severity = Error
dotnet_diagnostic.SA1112.severity = Error
dotnet_diagnostic.SA1113.severity = Error
dotnet_diagnostic.SA1114.severity = Error
dotnet_diagnostic.SA1115.severity = Error
dotnet_diagnostic.SA1116.severity = Error
dotnet_diagnostic.SA1117.severity = Error
dotnet_diagnostic.SA1118.severity = Error
dotnet_diagnostic.SA1119.severity = Error
dotnet_diagnostic.SA1120.severity = Error
dotnet_diagnostic.SA1121.severity = Error
dotnet_diagnostic.SA1122.severity = Error
dotnet_diagnostic.SA1123.severity = None
dotnet_diagnostic.SA1124.severity = None
dotnet_diagnostic.SA1125.severity = Error
dotnet_diagnostic.SA1127.severity = Error
dotnet_diagnostic.SA1128.severity = Error
dotnet_diagnostic.SA1129.severity = Error
dotnet_diagnostic.SA1130.severity = Error
dotnet_diagnostic.SA1131.severity = Error
dotnet_diagnostic.SA1132.severity = Error
dotnet_diagnostic.SA1133.severity = Error
dotnet_diagnostic.SA1134.severity = Error
dotnet_diagnostic.SA1135.severity = Error
dotnet_diagnostic.SA1136.severity = Error
dotnet_diagnostic.SA1137.severity = Error
dotnet_diagnostic.SA1139.severity = Error
dotnet_diagnostic.SA1200.severity = Error
dotnet_diagnostic.SA1201.severity = None
dotnet_diagnostic.SA1202.severity = Error
dotnet_diagnostic.SA1203.severity = Error
dotnet_diagnostic.SA1204.severity = Error
dotnet_diagnostic.SA1205.severity = Error
dotnet_diagnostic.SA1206.severity = Error
dotnet_diagnostic.SA1207.severity = Error
dotnet_diagnostic.SA1208.severity = Error
dotnet_diagnostic.SA1209.severity = Error
dotnet_diagnostic.SA1210.severity = Error
dotnet_diagnostic.SA1211.severity = Error
dotnet_diagnostic.SA1212.severity = Error
dotnet_diagnostic.SA1213.severity = Error
dotnet_diagnostic.SA1214.severity = Error
dotnet_diagnostic.SA1216.severity = Error
dotnet_diagnostic.SA1217.severity = Error
dotnet_diagnostic.SA1300.severity = Error
dotnet_diagnostic.SA1302.severity = Error
dotnet_diagnostic.SA1303.severity = Error
dotnet_diagnostic.SA1304.severity = Error
dotnet_diagnostic.SA1306.severity = Error
dotnet_diagnostic.SA1307.severity = Error
dotnet_diagnostic.SA1308.severity = Error
dotnet_diagnostic.SA1311.severity = Error
dotnet_diagnostic.SA1312.severity = Error
dotnet_diagnostic.SA1313.severity = Error
dotnet_diagnostic.SA1314.severity = Error
dotnet_diagnostic.SA1400.severity = Error
dotnet_diagnostic.SA1401.severity = Error
dotnet_diagnostic.SA1402.severity = Error
dotnet_diagnostic.SA1403.severity = Error
dotnet_diagnostic.SA1404.severity = Error
dotnet_diagnostic.SA1405.severity = Error
dotnet_diagnostic.SA1406.severity = Error
dotnet_diagnostic.SA1407.severity = Error
dotnet_diagnostic.SA1408.severity = Error
dotnet_diagnostic.SA1410.severity = Error
dotnet_diagnostic.SA1411.severity = Error
dotnet_diagnostic.SA1413.severity = Error
dotnet_diagnostic.SA1500.severity = Error
dotnet_diagnostic.SA1501.severity = Error
dotnet_diagnostic.SA1502.severity = Error
dotnet_diagnostic.SA1503.severity = Error
dotnet_diagnostic.SA1504.severity = Error
dotnet_diagnostic.SA1505.severity = Error
dotnet_diagnostic.SA1506.severity = Error
dotnet_diagnostic.SA1507.severity = Error
dotnet_diagnostic.SA1508.severity = Error
dotnet_diagnostic.SA1509.severity = Error
dotnet_diagnostic.SA1510.severity = Error
dotnet_diagnostic.SA1511.severity = Error
dotnet_diagnostic.SA1512.severity = Error
dotnet_diagnostic.SA1513.severity = Error
dotnet_diagnostic.SA1514.severity = Error
dotnet_diagnostic.SA1515.severity = Error
dotnet_diagnostic.SA1516.severity = Error
dotnet_diagnostic.SA1517.severity = Error
dotnet_diagnostic.SA1518.severity = Error
dotnet_diagnostic.SA1519.severity = Error
dotnet_diagnostic.SA1520.severity = Error
dotnet_diagnostic.SA1602.severity = Error
dotnet_diagnostic.SA1604.severity = Error
dotnet_diagnostic.SA1605.severity = Error
dotnet_diagnostic.SA1606.severity = Error
dotnet_diagnostic.SA1607.severity = Error
dotnet_diagnostic.SA1608.severity = Error
dotnet_diagnostic.SA1610.severity = Error
dotnet_diagnostic.SA1611.severity = Error
dotnet_diagnostic.SA1612.severity = Error
dotnet_diagnostic.SA1613.severity = Error
dotnet_diagnostic.SA1614.severity = Error
dotnet_diagnostic.SA1615.severity = Error
dotnet_diagnostic.SA1616.severity = Error
dotnet_diagnostic.SA1617.severity = Error
dotnet_diagnostic.SA1618.severity = Error
dotnet_diagnostic.SA1619.severity = Error
dotnet_diagnostic.SA1620.severity = Error
dotnet_diagnostic.SA1621.severity = Error
dotnet_diagnostic.SA1622.severity = Error
dotnet_diagnostic.SA1623.severity = Error
dotnet_diagnostic.SA1624.severity = Error
dotnet_diagnostic.SA1625.severity = Error
dotnet_diagnostic.SA1626.severity = Error
dotnet_diagnostic.SA1627.severity = Error
dotnet_diagnostic.SA1629.severity = Error
dotnet_diagnostic.SA1634.severity = Error
dotnet_diagnostic.SA1635.severity = Error
dotnet_diagnostic.SA1636.severity = Error
dotnet_diagnostic.SA1637.severity = Error
dotnet_diagnostic.SA1638.severity = Error
dotnet_diagnostic.SA1640.severity = Error
dotnet_diagnostic.SA1641.severity = Error
dotnet_diagnostic.SA1642.severity = Error
dotnet_diagnostic.SA1643.severity = Error
dotnet_diagnostic.SA1648.severity = Error
dotnet_diagnostic.SA1649.severity = Error
dotnet_diagnostic.SA1651.severity = Error
dotnet_diagnostic.SA1600.severity = None
dotnet_diagnostic.SA1601.severity = None
dotnet_diagnostic.SA1633.severity = None